.box {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;

  h3 {
    margin: 0 0 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }

  label {
    display: block;
    margin: 5px 0;
  }
}
